
body {
    background-image: url(../img/accounting.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    margin: 0;
}

.container {
    margin-top: 8em;
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px gray, -12px -12px 20px whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background: linear-gradient(35deg, #2d4968, #1b243b);
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: 200;
    position: relative;
}

.btn, .btn_oper {
    width: 65px;
    height: 50px;
    border-radius: 50%;
    margin: 7px 6px;
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: white;
    padding-bottom: 2em;
    padding-top: 0;
    background-color: #1c2c4a;
    border: 0;
}

.btn_oper {
    background-color: #f6599e;
}

#display {
    width: 97%;
    font-size: 3.5em;
    font-family: 'Cairo', sans-serif;
    font-weight: 200;
    background-color: #2d4968;
    color: white;
}

#equal {
    width: 137px;
    background-color: #fea51e;
    border-radius: 7%;
}

#restart {
    width: 290px;
}

#prevDisplay {
    position: absolute;
    height: 2em;
    background-color: transparent;
    border: 0;
    font-size: 1.2em;
    left: 0.9em;
    color: white;
    font-weight: 200;
}

#disOper {
    position: absolute;
    height: 5em;
    width: 20px;
    border: 0;
    font-size: 1.8em;
    right: 0.9em;
    color: black;
    font-weight: 200;
    background-color: transparent;
    color: white;
}

#Delete, #Restart {
    color: rgb(42, 234, 67);
}
