
.container {
    margin: auto;
    margin-top: 6em;
    width: 390px;
    padding: 10px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px gray, -12px -12px 20px whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    width: 93.9px;
    background-color: pink;
    
}

#display {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
}

#restart, #equal {
    width: 192px;
}

